/*********************
Table of Contents

* 1.0 Reset
* 2.0 Globals

********************/

/*****************/
/*** 1.0 Reset ***/
/*****************/

/* include padding and content when calculating element width and height */
/* set padding and margins to zero */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*******************/
/*** 2.0 Globals ***/
/*******************/

/* style anchors as plain white text */
a {
    color: #ffffff;
    text-decoration: none;
}

/* set paragraph element font size to 16px */
p {
    font-size: 16px;
}